RewriteEngine On

# If a path exists, serve it directly.
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Default to login for now.
RewriteRule ^$ login.php [L]
